.container-not-found {
    height: 100vh;
    min-height: 400px;
    background-image: url('./404NotFound.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
